<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"></script>
    <title>Show Recipe</title>
</head>
<body>
    <!--/*@thymesVar id="recipe" type="com.mekontso.recipe.domain.Recipe"*/-->
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="card border-primary mb-3">
                        <div class="card-header text-white bg-primary">
                            <div class="row">
                                <div class="col-md-9">
                                    <h1 class="card-title" th:text="${recipe.description}">Recipe Description Here</h1>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-light" href="#"  th:href="@{'/recipe/' + ${recipe.id} + '/image'} " role="button">Change Image</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="../../static/images/montre.jpg"
                                         th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                          alt = "recipe image" width="200" height="200">
                                </div>
                                <div class="col-md-3">
                                    <h5>Categories:</h5>
                                </div>
                                <div class="col-md-9">
                                    <ul>
                                        <li th:each="category : ${recipe.categories}" th:text="${category.getDescription()}">cat three</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Prep Time:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getPrepTime()+ ' Min'}">30 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>Difficulty:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getDifficulty()}">Easy</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Cook Time:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getCookTime() + ' Min'}">30 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>Serving:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getServing()}">4</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Source:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getSource()}">30 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>URL:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p  th:text="${recipe.getUrl()}">http://www.example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="card border-primary mb-3">
                    <div class="card-header text-white bg-primary">
                        <div class="row">
                        <div class="col-md-11">
                                <h1 class="card-title">Ingredients!</h1>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-light" href="#"  th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'} " role="button">View</a>
                        </div>
                        </div>
                            </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul>
                                                <li th:each="ingredient : ${recipe.ingredients}"
                                                    th:text="${ingredient.amount + ' ' +
                                                    ingredient.unitOfMeasure.getUom() + ' - ' +
                                                    ingredient.description}">1 Cup of milk</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                        </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="card border-primary mb-3">
                    <div class="card-header text-white bg-primary">
                            <h1 class="card-title">Directions</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${recipe.getDirections()}">You may have observed that computing these sums from 1 to 10, 20 to 37, and 35 to 49
                                        are very similar, except that the starting and ending integers are different. Wouldn’t it be nice
                                        if we could write the common code once and reuse it? We can do so by defining a method and
                                        invoking it.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                    <div class="card border-primary mb-3">
                        <div class="card-header text-white bg-primary">
                            <h1 class="card-title">Notes</h1>
                        </div>
                        <div class="card-body text-black">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${recipe.notes.recipeNotes}">A method may return a value. The returnValueType is the data type of the value the
                                        method returns. Some methods perform desired operations without returning a value. In this
                                        case, the returnValueType is the keyword void. For example, the returnValueType is
                                        void in the main method, as well as in System.exit, and System.out.println. If a
                                        method returns a value, it is called a value-returning method; otherwise, it is called a void
                                        method.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>