<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"></script>
    <title>Show Ingredient</title>
</head>
<body>
<!--/*@thymesVar id="recipe" type="com.mekontso.recipe.domain.Ingredient"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>Ingredient details</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Unit of Measure</th>
                            </tr>
                            </thead>
                            <tr>
                                <td th:text="${ingredient.id}">123</td>
                                <td th:text="${ingredient.description}">Description Sample</td>
                                <td th:text="${ingredient.amount}">Amount Sample</td>
                                <td th:text="${ingredient.unitOfMeasure.getUom()}">Uom Sample</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>